@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  @apply bg-gray-50;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid white;
}

/* Disable spin buttons for inputs with type numberk */
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.card {
  @apply h-min shadow-lg rounded-lg p-5 w-full bg-white;
}

.card-title {
  @apply font-anton text-2xl text-center mb-6;
}

.input {
  @apply font-actor ring-1 ring-black rounded-md py-2 pl-3 mb-2 enabled:shadow-md focus:outline-black focus:outline-offset-2;
}

.btn {
  @apply bg-black font-anton text-white font-medium rounded-md py-2 px-4 my-4 enabled:hover:shadow-xl disabled:bg-stone-300;
}
